<div class="text-gray-500 mb-8">
<hr> 
<p>
  If you like my work you can reach out to me on twitter (<a href="https://twitter.com/nickbelzer">@nickbelzer</a>) or <a href="https://buymeacoff.ee/nbelzer">buy me a coffee</a>. You can find the source code for both the site and it's content on <a href="https://github.com/nbelzer/notes"><i class="fab fa-github"></i> Github</a>.
</p>

<p>This site makes use of a self-hosted analytics solution: <a href="https://umami.is">Umami</a>. Providing a more privacy-focused and open alternative to Google Analytics. The metrics are open to anyone, <a href="https://analytics.nickbelzer.me/share/gpDs3Cr7/N.otes">see for yourself</a>.
</div>

