@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;1,300&display=swap');
@import 'tailwind.css';
@import 'articles.css';
@import 'github.css';

@media (max-width: 640px) {
    body {
        /* Set font-size for some phones. */
        font-size: 18px;
    }
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 300;
    @apply text-gray-800;
}

.column-page {
    max-width: 38em;
    @apply mx-auto;
    @apply px-4;
}

.column-page p {
    line-height: 1.7em;
}

/* .block-link {
    @apply shadow-sm;
    @apply w-full;
    @apply rounded-md;
    @apply border;
    @apply border-gray-100;
    @apply px-4;
    @apply py-2; 
    @apply flex;
    @apply items-center;
}

.block-link:hover {
    @apply border-blue-300;
} */


a {
    @apply text-blue-700;
}

a:hover {
    @apply text-blue-500;
}
